* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #171719;
}

#root {
    height: 100%;
    margin: 0;
}

.App {
    height: 100%;
    margin: 0;
    text-align: center;
}

#Chat-Interface {
    display: inline-block;
    height: 100%;
    width: 50%;
    margin: 0;
}

#Conversation-Window {
    background-color: #030407;
    height: 90%;
    overflow-y: scroll;
    overflow-y: auto;
}

.Chat-Row-Left {
    width: 100%;
    text-align: left;
}

.Chat-Row-Right {
    width: 100%;
    text-align: right;
}

.Chat-Item {
    display: inline-block;
    width: auto;
    max-width: 70%;
    padding: 10px;
    margin: 5px;
    text-align: left;
}

.From-Watson {
    color: white;
    /*
    border-left: 3px solid springgreen;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    */
    border: 1px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.From-User {
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#Input-Section {
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 50%;
}

#Input-Form {
    height: 100%;
    width: 100%;
}

#Input-Bar {
    display: inline-block;
    padding: 5px;
    margin-top: 1%;
    margin-right: 1%;
    width: 89%;
    height: 75%;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    background-color:transparent;
    color: white;
}
    #Input-Bar:focus {
        background-color: #171719;
    }

#Input-Send-Button {
    display: inline-block;
    size: auto;
    padding: 5px;
    margin-top: 1%;
    width: 10%;
    height: 75%;
    background-color: transparent;
    color: cornflowerblue;
    font-family: inherit;
    border: 2px solid cornflowerblue;  
    border-radius: 5px;
}
    #Input-Send-Button:hover {
        background-color: cornflowerblue;
        color: #171719;
        font-weight: bolder;
    }